body {
	font-family: 'Hind', sans-serif;
	background-color: #4DAF7C;
}

.container {
	background-color: #ecf0f1;
	border-radius: 2%;
	margin-top: 25px;
	margin-bottom: 25px;
}

.portrait {
	display: block;
	margin: 0 auto;
	border-radius: 100%;
}

h2 {
	color: #6C7A89;
}

.title, .subtitle {
	text-align: center;
}

